* {
    margin: 0;
    font-family: SegoeUI;
}



@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI Light"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
}



.logo {
    position: absolute;
    left: 0;
    top: 0;
    margin: 49px 10px;
}



.logOut {
    position: absolute;
    right: 0;
    top: 0;
    height: 46px;
    width: 46px;
    border: 1px solid #ed7e32;
    border-radius: 23px;
    margin: 72px 59px;
}



.lcenter {
    text-align: center;
    margin-top: 35%;
    font-size: 11px;
}



div.orng {
    background-color: #ed7e32;
}



table,
th,
td.asd {
    border-style: solid;
    border-width: 0 1px;
    border-color: #ed7e32;
    text-align: center;
    padding: 0 62.5px;
    border-collapse: collapse;
    margin: 10px 0;
    font-weight: bold;
    font-size: 15px;
}



a.tops:link {
    color: #707070;
    background-color: transparent;
    text-decoration: none;
}



a.tops:visited {
    color: #707070;
    background-color: transparent;
    text-decoration: none;
}



.Home-Gallery {
    position: absolute;
    top: 226px;
    left: 107px;
    width: 142px;
    height: 27px;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    color: #707070;
    font-weight: bold;
    opacity: 1;
}



.GALLERY {
    position: absolute;
    top: 279px;
    left: 105px;
    width: 156px;
    height: 53px;
    text-align: left;
    font-size: 40px;
    letter-spacing: 0;
    color: #707070;
    font-weight: bold;
    opacity: 1;
}



.line1 {
    position: absolute;
    top: 361px;
    left: 49px;
    width: 1822px;
    height: 0px;
    border: 1px solid #115926;
    opacity: 1;
}



.text1 {
    position: absolute;
    top: 449px;
    left: 915px;
    width: 91px;
    height: 27px;
    text-align: left;
    font: Regular 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}



.box1 {
    position: absolute;
    top: 597px;
    left: 440px;
    width: 1040px;
    height: 625px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #115926;
    opacity: 1;
}



.text2 {
    position: absolute;
    top: 861px;
    left: 930px;
    width: 52px;
    height: 27px;
    text-align: left;
    font: Regular 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}
