* {
    margin: 0;
}

.topbar {
    background-color: #ED7E32;
    width: 1921px;
    height: 95px;
    border: 1px solid #707070;
    opacity: 1;
}

.logo {
    margin-left: 760px;
    margin-top: 87px;
    margin-bottom: 40px;
    width: 400px;
    height: 180px;
}

.loginbtn {
    margin-top: -150px;
    margin-left: 580px;
    width: 80px;
    height: 80px;
    top: 15px;
}

.left {
    float: left;
}

.right {
    float: left;
}

.button {
    background: #ED7E32 0% 0% no-repeat padding-box;
    border: 1px solid #ED7E32;
    border-radius: 34px;
    opacity: 1;
    position: relative;
    width: 79px;
    height: 67px;
    margin-left: 62px;
}



.loginbox {
    margin-left: 590px;
    margin-bottom: 200px;
    border: 7px solid #ED7E32;
    width: 740px;
    height: 408px;
    border-radius: 91px;
}

.text-login {
    margin: 114px 0px 0px 93px;
    border: 1px solid #707070;
    width: 430px;
    height: 81px;
    line-height: 81px;
    color: #707070;
    text-indent: 0.7em;
    font-size: 30px;
    opacity: 1;
}

.text-password {
    margin: 24px 0px 0px 93px;
    border: 1px solid #707070;
    width: 430px;
    height: 81px;
    line-height: 81px;
    color: #707070;
    text-indent: 0.7em;
    font-size: 30px;
    opacity: 1;
}

.bottombar {
    background-color: #ED7E32;
    width: 1921px;
    height: 95px;
    border: 1px solid #707070;
}
